:root {
  --sidebar-color: #00293c;
  --peacok-blue: #1e656d;
  --ivory: #f1f3ce;
  --white: #ffffff;
  --basic-font: "MingLiU";
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 15vw;
  padding: 60px;
  background: var(--sidebar-color);
  font-family: var(--basic-font);
}

.widjet {
  text-align: center;
  vertical-align: middle;
  color: var(--white);
}

.widjet h5 {
  margin-bottom: 50px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
}

.sidebar ul {
  padding-left: 0px;
  margin-bottom: 50px;
}

.sidebar ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}

.sidebar ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.sidebar ul li a:hover::after {
  transform: scale(1, 1);
}

.header {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.header img {
  width: 85vw;
  height: auto;
  filter: grayscale(0.7);
}

#profile-content {
  background-color: var(--ivory);
}

#profile-content table{
  width: 100%;
}

#profile-content table th{
  position: relative;
  text-align: left;
  width: 15%;
}

#profile-content table th:after{
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #333;
  position: absolute;
  top:calc(50% - 1px);
  right:20px;
}

#profile-content table td{
  text-align: left;
  width: 85%;
}

.profile-pic img {
  width: 15vw;
  height: auto;
  border-radius: 50%;
}

#skills-content {
  background-color: var(--peacok-blue);
}

#products-content {
  background-color: var(--ivory);
}

.github-icon-side {
  margin-right: 20px;
}

.site-title,
.site-title:hover {
  color: var(--white);
  text-decoration: none;
}

.site-name {
  position: absolute;
  top: 30%;
  text-align: center;
  height: 70%;
  width: 100%;
  font-family: var(--basic-font);
}

.site-name h3 {
  font-size: 75px;
  color: var(--white);
  font-weight: 600;
  font-family: var(--basic-font);
}

.site-name h5 {
  color: var(--white);
  font-family: var(--basic-font);
}

.github-link,
.twitter-link {
  color: var(--white);
}

.github-link:hover,
.twitter-link:hover {
  color: var(--white);
  opacity: 0.7;
}

/* タブレットではない場合(=スマホの場合) */
@media only screen and (max-width: 767px) {
}
