:root {
  --sidebar-color: #f0ffff;
  --basic-color: #2e2e2e;
  --basic-font: "MingLiU";
  --background-white: rgba(255, 255, 255, 0.3);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 180px;
  padding: 60px;
  background: var(--sidebar-color);
  font-family: var(--basic-font);
}

.widjet {
  text-align: center;
  vertical-align: middle;
}

.widjet h5 {
  margin-bottom: 50px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
}

.sidebar ul {
  padding-left: 0px;
  margin-bottom: 50px;
}

.sidebar ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--basic-color);
}

.sidebar ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--basic-color);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.sidebar ul li a:hover::after {
  transform: scale(1, 1);
}

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: url(../image/yakushima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.github-icon-side {
  margin-right: 20px;
}

.site-title,
.site-title:hover {
  color: var(--basic-color);
  text-decoration: none;
}

.site-name {
  text-align: center;
  margin-top: 25%;
  height: 140px;
  font-family: var(--basic-font);
  background-color: var(--background-white);
}

.site-name h3 {
  font-size: 75px;
  color: var(--basic-color);
  font-weight: 600;
}

.github-link,
.twitter-link {
  color: var(--basic-color);
}

.github-link:hover,
.twitter-link:hover {
  color: var(--basic-color);
  opacity: 0.7;
}

/* タブレットではない場合(=スマホの場合) */
@media only screen and (max-width: 767px) {
}
