:root {
  --sidebar-color: #00293c;
  --peacok-blue: #1e656d;
  --ivory: #f1f3ce;
  --light-ivory: rgb(251, 252, 230);
  --white: #ffffff;
  --black: #000000;
  --light-gray: #dcdcdc;
  --basic-font: "MingLiU";
}

html {
  scroll-behavior: smooth;
}

.navbar {
  visibility: hidden;
  pointer-events: none;
  padding: 0px;
  width: 0px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: center;
  top: 10px;
  width: 15vw;
  padding: 60px;
  background: var(--sidebar-color);
  font-family: var(--basic-font);
}

.widjet {
  text-align: center;
  vertical-align: middle;
  color: var(--white);
  position: fixed;
  top: 50px;
}

.widjet h5 {
  margin-bottom: 50px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px;
}

.sidebar ul {
  padding-left: 0px;
  margin-bottom: 50px;
}

.sidebar ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}

.sidebar ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
.sidebar ul li a:hover::after {
  transform: scale(1, 1);
}

.header {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.header img {
  filter: grayscale(0.3);
  top: 0;
  left: 0;
  width: 85vw;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
  pointer-events: none;
}

#profile-content {
  background-color: var(--ivory);
}

#profile-content h3,
#products-content h3 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: var(--peacok-blue);
  font-family: var(--basic-font);
  font-weight: 600;
  font-size: 50px;
}

#contact-content h3 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: var(--peacok-blue);
  font-family: var(--basic-font);
  font-weight: 600;
  font-size: 50px;
}

#contact-content h4 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--black);
  font-family: var(--basic-font);
  font-size: 17px;
}

.profile-pic {
  text-align: center;
}

.profile-pic img {
  width: 20vw;
  height: auto;
  border-radius: 50%;
  pointer-events: none;
}

.name-label {
  font-family: var(--basic-font);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.whatido {
  padding-bottom: 20px;
}

.whatido-title,
.hobbies-title {
  font-family: var(--basic-font);
  font-weight: 600;
  font-size: 20px;
  border-top: solid 3px var(--black);
  border-bottom: solid 3px var(--black);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.whatido-content,
.hobbies-content {
  font-family: var(--basic-font);
  font-size: 20px;
  padding-left: 5px;
}

#skills-content {
  background-color: var(--peacok-blue);
}

#skills-content h3 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  color: var(--ivory);
  font-family: var(--basic-font);
  font-weight: 600;
  font-size: 50px;
}

.skill-list {
  padding-left: 0px;
}

.skill-list h4 {
  font-family: var(--basic-font);
  font-size: 20px;
  font-weight: 600;
  color: var(--ivory);
  padding-top: 20px;
  padding-bottom: 30px;
}

.skill-list ul {
  list-style: none;
  padding: 0px;
}

.skill-list li {
  margin-bottom: 10px;
  color: var(--white);
  font-family: var(--basic-font);
  font-size: 20px;
}

.languages-icon,
.libraries-icon,
.tool-icon {
  border: solid 1px var(--peacok-blue);
  background-color: var(--ivory);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 0px;
}

.pen-icon,
.book-icon,
.tools-icon {
  color: var(--peacok-blue);
  text-align: center;
  vertical-align: middle;
  padding: 24px;
}

#products-content {
  background-color: var(--ivory);
}

#contact-content {
  background-color: var(--light-ivory);
}

.github-icon-side {
  margin-right: 20px;
}

.site-title,
.site-title:hover {
  color: var(--white);
  text-decoration: none;
}

.site-name {
  position: absolute;
  top: 30%;
  text-align: center;
  height: 70%;
  width: 100%;
  font-family: var(--basic-font);
}

.site-name h3 {
  font-size: 75px;
  color: var(--white);
  font-weight: 600;
  font-family: var(--basic-font);
}

.site-name h5 {
  color: var(--white);
  font-family: var(--basic-font);
}

.site-name a {
  color: var(--ivory);
  width: ;
}

.site-name a:hover {
  color: var(--ivory);
  text-decoration: none;
}

.contact-button {
  border: solid 1px var(--ivory);
  height: 50px;
  width: 150px;
  padding-top: 2px;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  color: var(--ivory);
  font-family: var(--basic-font);
}

.product-pic {
  width: auto;
  height: 188px;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
  position: relative;
  font-family: var(--basic-font);
}

.product-pic .caption {
  font-size: 150%;
  text-align: center;
  color: var(--white);
  font-family: var(--basic-font);
}

.device-type {
  font-size: 20px;
}

.product-pic .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-family: var(--basic-font);
}
.product-pic:hover .mask {
  opacity: 1; /* マスクを表示する */
  padding-top: 80px; /* ホバーで下にずらす */
  font-family: var(--basic-font);
}

.product-detail {
  background-color: var(--ivory);
  padding-bottom: 10px;
  font-family: var(--basic-font);
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-detail h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px var(--black);
}
.product-detail h5 {
  font-size: 15px;
}

#contact-content h6 {
  font-size: 13px;
  font-family: var(--basic-font);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.github-link,
.twitter-link {
  color: var(--white);
}

.github-link-products,
.demo-link {
  color: var(--black);
}

.twitter-link-contact,
.github-link-contact {
  color: var(--black);
  margin-left: 10px;
}

.github-link-products:hover,
.twitter-link-contact:hover,
.github-link-contact:hover,
.mail-icon:hover,
.demo-link:hover {
  color: var(--black);
  opacity: 0.7;
}

.github-link-contact {
  color: var(--black);
  margin-left: 10px;
}

.github-link:hover,
.twitter-link:hover {
  color: var(--white);
  opacity: 0.7;
}

.inline-block {
  display: inline-block;
  text-align: center;
  padding-right: 25px;
}

.inline-block-nopadding {
  display: inline-block;
  text-align: center;
}

.contact-list {
  text-align: center;
}

.copybtn {
  background-color: var(--light-ivory);
  border: none;
}

.copybtn:focus {
  outline: none;
}

.curveUpColor,
.curveDownColor,
.curveUpColor-contact {
  background-color: var(--ivory);
}

.curveUpColor path,
.curveDownColor path {
  fill: var(--peacok-blue);
}

.curveUpColor-contact path {
  fill: var(--light-ivory);
}

.slide {
  position: relative;
  height: 188px;
}
.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 188px;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit;
  pointer-events: none;
}

.tool-tip {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 12px;
  line-height: 1.6em;
  color: var(--ivory);
  border-radius: 5px;
  background: var(--peacok-blue);
  width: 100px;
  margin-top: 20px;
}

.tool-tip:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 60%;
  border: 15px solid transparent;
  border-top: 15px solid var(--peacok-blue);
  margin-left: -15px;
  transform: rotateZ(180deg);
}

.link-list {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  bottom: 5px;
}

.margin-area {
  padding-bottom: 80px;
}

.modal_body_custom {
  padding: 30px;
}

.modal_content_style {
  /* background-color: var(--light-ivory);
  border-radius: 20px; */
}

.modal_title {
  color: var(--peacok-blue);
  text-align: center;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
}

.modal {
  color: black;
}

.cancel_button {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  border: none;
  background-color: var(--peacok-blue);
}

.cancel_button:focus {
  outline: 0;
}

.buttonContainer {
  text-align: center;
}

.detail_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.detail_table th,table td{
  padding: 10px 0px 10px 10px;
  text-align: left;
}

.detail_table th {
  width: 30%;
}

.detail_table tr{
  border-top: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);
}

.close:focus {
  outline: 0;
}

/* タブレットではない場合(=スマホの場合) */
@media only screen and (max-width: 767px) {
  body {
    padding-top: 53px;
  }

  .navbar {
    visibility: visible;
    pointer-events: auto;
    width: auto;
  }

  .navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
  }

  .navbar-toggler:focus {
    outline: 0;
  }

  .site-title-mobile,
  .menu-mobile {
    font-family: var(--basic-font);
  }

  .content {
    display: block;
  }

  .sidebar,
  .widjet {
    visibility: hidden;
    pointer-events: none;
    padding: 0px;
    margin: 0px;
  }

  .site-name h3 {
    font-size: 30px;
  }

  #profile-content h3,
  #products-content h3,
  #contact-content h3,
  #skills-content h3 {
    font-size: 30px;
  }

  .header {
    height: 200px;
  }

  .contact-button {
    margin-top: 10px;
    height: 30px;
    width: 130px;
    font-size: 1.25rem;
    padding-top: 1px;
  }

  .languages-icon,
  .libraries-icon,
  .tool-icon {
    margin-left: 15px;
  }

  .whatido-title,
  .hobbies-title,
  .whatido-content,
  .hobbies-content,
  .skill-list h4,
  .skill-list ul li,
  .product-detail h4 {
    font-size: 17px;
  }

  #contact-content h4 {
    font-size: 15px;
  }

  .product-detail h5 {
    font-size: 13px;
  }

  .site-name h5 {
    font-size: 15px;
  }
}
