<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <title>kamimi-portfolio</title>
  </head>

  <body>

    <div class="content">
      <div class="sidebar">
        <div class="widjet">
          <a href="#" class="site-title"><h5>Kamimi's<br />Portfolio</h5></a>
          <ul>
            <li><a href="#">ABOUT ME</a></li>
            <li><a href="#">SKILLS</a></li>
            <li><a href="#">PRODUCTS</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">BLOG&nbsp;<i class="far fa-share-square fa-xs"></i></a></li>
          </ul>
          <a href="https://github.com/kamimi01" target="_blank" class="github-link"><i class="fab fa-github fa-2x github-icon-side"></i></a>
          <a href="#" target="_blank" class="twitter-link"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </div>

      <div class="main">
        <div class="header">
          <div class="site-name">
            <h3>Hi I'm Kamimi</h3>
            <h5>Web / iOS Developer</h5>
          </div>
        </div>
      </div>
    </div>
    

    <!-- bootstrap/jQuery関連の読み込み -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- Vue.jsの読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- オリジナルのjsの読み込み -->
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
